<div class="flex flex-col items-center rounded-lg justify-center m-4 px-6 py-8 mx-auto bg-slate-900">
  <div>
    <%= image_tag current_user.image, class: "w-56 h-56 rounded-full" if current_user.image.present? %>
  </div>
  <div class="py-2">
    <h3 class="font-bold text-2xl text-white mb-1"><%= current_user.name %></h3>
    <p class="font-bold text-x text-white mb-1"><%= current_user.email %></p>
    <p class="font-bold text-x text-white mb-1"><%= current_user.provider %></p>
    <p class="font-bold text-sm text-white mb-1">Número de logins: <%= current_user.sign_in_count %></p>
  </div>         
</div>

