<!DOCTYPE html>
<html>
  <head>
    <title>DemoArticleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class=" bg-slate-900">
    <% if user_signed_in? %>
      <%= render "articles/nav" %>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex bg-slate-800 rounded-md">
      <%= yield %>
    </main>
  </body>
</html>
